<% wrap_layout :layout do %>
<%
article_date = I18n.l current_page.date, :format => "%d %B %Y, %A %H:%M"
article_title = current_page.title
article_subtitle = current_page.metadata[:page][:subtitle] || nil
article_author = current_page.metadata[:page][:author] || nil
article_category = current_page.metadata[:page][:category] || nil
article_tags = current_page.tags

current_page.metadata[:page][:reading_time] = Sanitize.fragment(current_page.body).reading_time :format => :approx

related_articles = []
current_page.tags.each do |tag|
  blog.tags[tag].each do |article|
    unless article == current_page
      related_articles << article unless related_articles.include?(article)
    end
  end
end
%>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-9-desktop">
                <article>
                    <div class="content is-medium">
                        <div class="meta mb-1">
                            <% if article_author %><small><%= article_author %> &mdash; </small><% end %>
                            <time pubdate datetime="<%= current_page.date.xmlschema %>" title="<%= article_date %>"><%= article_date %></time>
                             <% if article_category %><span class="category"> &mdash; Filed under <a href="<%= category_path(article_category) %>"><%= article_category %></a></span><% end %>
                             <span class="read-time">reading time: <%= current_page.metadata[:page][:reading_time] %></span>
                        </div>

                        <h1 class="title"><%= article_title %></h1>
                        <% if article_subtitle %><h2 class="subtitle is-size-4-desktop"><%= article_subtitle %></h2><% end %>
                        <% if article_tags %>
                        <div class="tags">
                            <% article_tags.each do |tag| %>
                            <span class="tag is-info"><a title="Posts with &ldquo;<%= tag %>&rdquo; tag" href="<%= tag_path(tag) %>"><%= tag %></a></span>
                            <% end %>
                        </div>
                        <% end %>

                        <div class="yield mt-3-desktop">
                            <%= yield %>
                        </div>
                    </div>
                    <div class="sharethis-inline-share-buttons" style="margin-top: 3em;"></div>
                </article>
            </div>
            
            <div class="column is-3-desktop article-right-column is-hidden-touch">
                <div class="content is-medium">
                    <%
                    if related_articles.count > 0
                      concat content_tag(:h4, "Related Posts", class: "title")
                      related_articles.each do |article|
                          article_date = I18n.l article.date, format: "%d %B %Y, %A %H:%M"
                          concat content_tag(:p, link_to(article.title, article, title: article.title))
                          concat content_tag(:time, article_date, datetime: article.date.xmlschema)
                      end
                      concat tag(:hr)
                    end
                    
                    concat content_tag(:h4, "Lastest Posts", class: "title")
                    blog.articles[0..5].each do |article|
                        unless article == current_page
                            article_date = I18n.l article.date, format: "%d %B %Y, %A %H:%M"
                            concat content_tag(:p, link_to(article.title, article, title: article.title))
                            concat content_tag(:time, article_date, datetime: article.date.xmlschema)
                        end
                    end
                    %>
                </div>
            </div>
        </div>
    </div>
</section>

<% if build? %>
    <% content_for :extra_js do %>
        <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5d2213a5b54cea00128f1df8&product=social-ab' async='async'></script>
    <% end %>
<% end %>


<% content_for :opengraph do %>
<meta property="og:title" content="vb YAZILIM | <%= current_page.title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://vbyazilim.com<%= current_page.url %>" />
    
    <meta property="og:description" content="<%= strip_tags(current_page.summary).chomp %>">
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="vb YAZILIM" />
    
    <% if current_page.metadata[:page][:opengraph_image] %>
        <% image = ImageSize.path("source/public/images/blog/#{current_page.metadata[:page][:opengraph_image]}") %>
    <meta property="og:image" content="https://vbyazilim.com/public/images/blog/<%= current_page.metadata[:page][:opengraph_image] %>" />
    <meta property="og:image:secure_url" content="https://vbyazilim.com/public/images/blog/<%= current_page.metadata[:page][:opengraph_image] %>" />
    <meta property="og:image:width" content="<%= image.w %>" />
    <meta property="og:image:height" content="<%= image.h %>" />
    <% end %>
<% end %>

<% end %>
