<%
page_subtitle = "#{current_article.title}" unless current_article.nil?
page_subtitle = current_page.metadata[:page][:title] if current_page.metadata[:page][:title]
page_subtitle = " • #{page_subtitle}" if page_subtitle
page_subtitle = " • Blog#{page_subtitle}" if current_page.metadata[:page][:category] && page_subtitle
page_subtitle = "#{page_subtitle} • #{current_page.metadata[:page][:reading_time]} read" if current_page.metadata[:page][:reading_time]
%>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>vb YAZILIM<%= page_subtitle %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>

    <meta name="description" content="We are software development, training and consultancy company. We provide highly skilled Django application development services.">
    <meta name="keywords" content="training,git,python,ruby,bash,golang,javascript,reactjs,vuejs,applescript,django,flask,sinatra,ror,rails,ruby on rails,postgresql,deployment,gentoo,redis" />
    <meta name="p:domain_verify" content="37faca05c6c17ec39d217c55756a7242"/>

    <% if development? %>
    <%= stylesheet_link_tag 'bulma.min' %>
    <% else %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <% end %>
    <link rel="icon" href="/public/images/favicon-32.png">
    <%= stylesheet_link_tag 'syntax' %>
    <%= yield_content :extra_css %>
    <%= stylesheet_link_tag 'application' %>
    <%= yield_content :opengraph %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52664816-9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-52664816-9');
    </script>
</head>
<body>
    <% if development? %><p class="debug"></p><% end %>

    <%= partial 'partials/header' %>
    <%= yield %>

    <div id="ga-notice" class="is-hidden">
        <div class="notification is-size-7-touch has-text-centered is-radiusless">
            <button class="delete mr-1"></button>
            We are using Google Analytics on our page to track visit counts and other statistic related datas.
            We would like to inform you about that...
        </div>
    </div>

    <%= partial 'partials/footer' %>

    <% if development? %>
    <%= javascript_include_tag 'fontawesome.5.3.1' %>
    <%= javascript_include_tag 'jquery-3.3.1.slim.min' %>
    <% else %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script data-search-pseudo-elements defer src="//use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <!-- Start of Async Drift Code -->
    <script>
    "use strict";

    !function() {
      var t = window.driftt = window.drift = window.driftt || [];
      if (!t.init) {
        if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
        t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
        t.factory = function(e) {
          return function() {
            var n = Array.prototype.slice.call(arguments);
            return n.unshift(e), t.push(n), t;
          };
        }, t.methods.forEach(function(e) {
          t[e] = t.factory(e);
        }), t.load = function(t) {
          var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
          o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
          var i = document.getElementsByTagName("script")[0];
          i.parentNode.insertBefore(o, i);
        };
      }
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('vkw9xfpxytsv');
    </script>
    <!-- End of Async Drift Code -->

    <% end %>
    <%= yield_content :extra_js %>
    <%= javascript_include_tag 'app' %>
</body>
</html>
