<%
page_subtitle = "#{current_article.title}" unless current_article.nil?
page_subtitle = current_page.metadata[:page][:title] if current_page.metadata[:page][:title]
page_subtitle = " | #{page_subtitle}" if page_subtitle
%>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>vb YAZILIM | Development, Training and Consultancy<%= page_subtitle %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>

    <% if development? %>
    <%= stylesheet_link_tag 'bulma.min' %>
    <% else %>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <% end %>

    <%= stylesheet_link_tag 'syntax' %>
    <%= yield_content :extra_css %>
    <%= stylesheet_link_tag 'application' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52664816-9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-52664816-9');
    </script>
</head>
<body>
    <% if development? %><p class="debug"></p><% end %>
    <%= partial 'partials/header' %>
    <%= yield %>
    <%= partial 'partials/footer' %>

    <% if development? %>
    <%= javascript_include_tag 'fontawesome.5.3.1' %>
    <%= javascript_include_tag 'jquery-3.3.1.slim.min' %>
    <% else %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script data-search-pseudo-elements defer src="//use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <% end %>
    <%= yield_content :extra_js %>
    <%= javascript_include_tag 'app' %>
</body>
</html>
