---
title: Services
---

<%
right_side_bar_classes = "is-4-widescreen is-offset-2-widescreen is-hidden-touch"
%>

<section class="hero is-vb">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Services</h1>
            <h2 class="subtitle">
                We provide <strong>development</strong>, <strong>training</strong> and <strong>consultancy</strong> services
                to individuals and institutions.
            </h2>
        </div>
    </div>
</section>

<section class="section py-1 has-background-light">
    <div class="container">
        <nav class="level is-mobile">
            <div class="level-left">
                <div class="level-item is-size-7-mobile"><a href="#development-services" title="Development Services">Development</a></div>
                <div class="level-item is-size-7-mobile"><a href="#devops-services" title="DevOps Services">DevOps</a></div>
                <div class="level-item is-size-7-mobile"><a href="#consultancy-services" title="Consultancy Services">Consultancy</a></div>
                <div class="level-item is-size-7-mobile"><a href="#training-services" title="Training Services">Training</a></div>
            </div>
        </nav>
    </div>
</section>

<section class="section has-white-background mobile-only first">
    <div class="container">

        <div class="columns">
            <div class="column is-6-desktop pt-0">
                <div class="content">
                    <h3 id="development-services">Development Services</h3>
                    <ul>
                        <li>Django application development from scratch</li>
                        <li>Django application migration, upgrade to latest Django and Python versions</li>
                        <li>Django application maintenance, deployment and monitoring</li>
                        <li>Django <strong>RESTful API</strong> backend development</li>
                        <li>Django code review and refactoring</li>
                        <li>Ruby static site generation with <a class="is-external-link" href="https://middlemanapp.com">Middleman</a></li>
                        <li>Ruby api-backend development with <a class="is-external-link" href="http://sinatrarb.com">Sinatra</a></li>
                        <li>Ruby micro-website development with <a class="is-external-link" href="http://sinatrarb.com">Sinatra</a></li>
                        <li>Golang micro service development for rest/gPRC api services</li>
                        <li>Convert 3<sup>rd</sup> party services to Golang services or packages</li>
                        <li>Frontend applications/clients with <a class="is-external-link" href="https://vuejs.org">VueJS</a></li>
                        <li>Frontend applications/clients with <a class="is-external-link" href="https://reactjs.org">ReactJS</a></li>
                        <li>Backend applications/clients with <a class="is-external-link" href="https://nodejs.org/">NodeJS</a></li>
                        <li>Bash script task automation tools</li>
                    </ul>
                </div>
            </div>
            <div class="column <%= right_side_bar_classes %>">
                <div class="zoomable"><%= image_tag "clip-development.png" %></div>
            </div>
        </div>

    </div>
</section>
<hr/>

<section class="section has-white-background mobile-only">
    <div class="container">

        <div class="columns">
            <div class="column is-6-desktop">
                <div class="content">
                    <h3 id="devops-services">DevOps Integration Services</h3>
                    <p>
                        We provide continuous integration and deployment services for 
                        <strong>Python</strong>, <strong>Django</strong>, 
                        <strong>Ruby</strong>, <strong>NodeJS</strong>,
                        and <strong>Golang</strong> projects to following platforms:
                    </p>
                    <ul>
                        <li>TravisCI</li>
                        <li>CircleCI</li>
                        <li>Buddy</li>
                        <li>Codeship</li>
                        <li>DroneCI</li>
                    </ul>
                    <p>Custom <code>ssh</code> deployments, auto tagging and zero-downtime deployments.</p>
                </div>
            </div>
            <div class="column <%= right_side_bar_classes %>">
                <div class="zoomable"><%= image_tag "clip-devops.png" %></div>
            </div>
        </div>

    </div>
</section>
<hr/>

<section class="section has-white-background mobile-only">
    <div class="container">

        <div class="columns">
            <div class="column is-6-desktop">
                <div class="content">
                    <h3 id="consultancy-services">Consultancy Services</h3>
                    
                    <p class="my-2">Drop us a line! Let&rsquo;s arrange a meeting/hangouts for your next project! <a href="hello@vbyazilim.com?subject=Hello">hello@vbyazilim.com</a></p>
                    
                    <p>We provide following services:</p>
                    <ul>
                        <li><strong>Python</strong>, <strong>Ruby</strong>, <strong>Golang</strong> and <strong>JavaScript</strong> based project development</li>
                        <li>Project design, planning and analyze</li>
                        <li>Infrastructure planning</li>
                        <li>Tech-stack planning</li>
                        <li>Team and operation management</li>
                        <li>Developer relations</li>
                        <li>Recruitment service</li>
                        <li>Platform migration</li>
                        <li>Data infrastructure planning</li>
                        <li>Conference organization and management</li>
                        <li>Hackathon organization and management</li>
                    </ul>
                </div>
            </div>
            <div class="column <%= right_side_bar_classes %>">
                <div class="zoomable">
                    <figure class="image mb-2">
                        <%= image_tag "clip-codefront-2014.jpg" %>
                        <figcaption class="has-text-centered">Picture from <strong>Codefront.io 2014</strong></figcaption>
                    </figure>

                    <figure class="image">
                        <%= image_tag "clip-ing-hackathon-2015.jpg" %>
                        <figcaption class="has-text-centered">Picture from <strong>ING Hackathon 2015</strong></figcaption>
                    </figure>
                </div>
            </div>
        </div>

    </div>
</section>
<hr/>

<section class="section has-white-background mobile-only last">
    <div class="container">

        <div class="columns">
            <div class="column is-6-desktop">
                <div class="content">
                    <h3 id="training-services">Training Services</h3>
                    <p>
                        We provide training services for following topics: (<em>* coming soon</em>)
                    </p>
                    <ul>
                        <li>Python, Ruby, Golang, <em>JavaScript *</em></li>
                        <li>Django, Flask, <em>Ruby on Rails *</em>, <em>NodeJS *</em></li>
                        <li><em>ReactJS *</em>, <em>VueJS *</em></li>
                        <li>GNU Linux Command-Line</li>
                        <li>Linux provisioning</li>
                        <li>CI/CD integration</li>
                        <li>Git revision control</li>
                        <li>GitHub, Gitlab</li>
                    </ul>
                    <p>Please visit our <a class="is-external-link" href="/training/">training</a> page for more detailed information.</p>
                </div>
            </div>
            <div class="column <%= right_side_bar_classes %>">
                <div class="zoomable">
                    <figure class="image">
                        <%= image_tag "clip-training.jpg" %>
                        <figcaption class="has-text-centered">Picture from <strong>Web Training</strong> session</figcaption>
                    </figure>
                </div>
            </div>
            </div>
        </div>

    </div>
</section>

<% content_for :opengraph do %>
<meta property="og:title" content="vb YAZILIM" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://vbyazilim.com/services/" />

    <meta property="og:image" content="https://vbyazilim.com/public/images/opengraph.jpg" />
    <meta property="og:image:secure_url" content="https://vbyazilim.com/public/images/opengraph.jpg" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="500" />

    <meta property="og:description" content="Services of vb YAZILIM">
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="vb YAZILIM" />
<% end %>
