<div class="columns">
    <div class="column pt-0">
        <div class="content">
            <h3 id="<%= course_anchor_id %>"><%= courses_name %> &nbsp;<span class="icon"><i class="<%= course_icon %>"></i></span></h3>
            <p>There are <strong><%= courses.length %></strong> available <%= courses_name %> courses.</p>
        </div>
    </div>
</div>

<%
slice_count = 0
courses.each_slice(2) do |items|
    content_tag :div, :class => 'columns mt-2' do
        items.each_with_index do |course, index|
            div_class = index % 2 == 0 ? 'column is-5-desktop' : 'column is-5-desktop is-offset-2-desktop mt-2-mobile'
            content_tag :div, :class => div_class do
                content_tag :div, :class => 'content' do
                    concat partial "partials/training/courses/#{course}"
                end
            end
        end
    end
    slice_count += 1
end
%>

<div class="columns">
    <div class="column">
        <p class="mt-1">
            <a href="#top">Go back to top ↑</a> | 
            <a href="#<%= course_anchor_id %>">Go back to <%= courses_name %> ↑</a>
        </p>
    </div>
</div>
