<div class="columns">
    <div class="column pt-0">
        <div class="content">
            <h3 id="<%= course_anchor_id %>"><%= courses_name %> &nbsp;<span class="icon"><i class="<%= course_icon %>"></i></span></h3>
            <p class="is-size-4">
                There are <strong><%= courses.length %></strong> available <%= courses_name %> courses in this section.
            </p>
            <p class="is-size-5">
                Feel free to communicate about course details or questions via sending email to
                <script type="text/javascript">
                    document.write('<a href="mailto:');
                    document.write("uryyb\100iolnmvyvz\056pbz".replace(/[a-zA-Z]/g, function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));
                    document.write('?subject=<% concat courses_name %>">');
                    document.write("uryyb\100iolnmvyvz\056pbz".replace(/[a-zA-Z]/g, function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));
                    document.write('</a>');
                </script>
                address.
            </p>
        </div>
    </div>
</div>

<%
slice_count = 0
courses.each_slice(2) do |items|
    content_tag :div, :class => 'columns is-multiline is-variable is-8 mt-2' do
        items.each_with_index do |course, index|
            div_class = 'column is-6-desktop'
            div_class = "#{div_class} mt-2-mobile" unless index % 2 == 0

            content_tag :div, :class => div_class do
                content_tag :div, :class => 'content' do
                    course_sub_folder = course.split('-').first
                    concat partial "partials/training/courses/#{course_sub_folder}/#{course}"
                end
            end
        end
    end
    slice_count += 1
end
%>

<div class="columns">
    <div class="column">
        <p class="mt-1">
            <a href="#top">Go back to top ↑</a> | 
            <a href="#<%= course_anchor_id %>">Go back to <%= courses_name %> ↑</a>
        </p>
    </div>
</div>
