<section class="section">
    <div class="container">
        <nav class="level is-mobile">
            <div class="level-left">
                <div class="level-item">
                    <a href="/" title="Home"><%= image_tag "vb-yazilim-logo.svg", class: 'vb-logo' %></a>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item"><a title="Home" href="/"<%= is_active('/') %>>Home</a></div>
                <div class="level-item"><a title="Blog posts" href="/blog/"<%= is_active('/blog/') %>>Blog</a></div>
                <div class="level-item"><a title="Training" href="/training/"<%= is_active('/training/') %>>Training</a></div>
                <div class="level-item"><a title="Türkçe" href="/tr/">Türkçe</a></div>
                <div class="level-item"><a title="Atom feed" href="<%= blog.options.prefix.to_s %>/feed.xml"><span class="icon"><i class="fas fa-rss-square"></i></span></a></div>
            </div>
        </nav>
    </div>
</section>
