<%
sorted_articles = blog.articles.sort_by{|a| a.date}.reverse
%>

<div class="list-articles">
    <div class="content">
        <h1 class="title">Latests Blog Posts</h1>
    </div>
    <ul>
    <% sorted_articles.first(10).each do |article| %>
        <%
        article_date = I18n.l article.date, :format => "%d %B %Y, %A %H:%M"
        article_category = article.metadata[:page][:category] || nil
        article_tags = article.tags || nil
        %>
        <li>
            <%= link_to article.title, article, class: 'is-size-4-desktop', title: 'Click to read detail' %>
            <time class="mb-1" pubdate datetime="<%= article.date.xmlschema %>">
                <span title="<%= article_date %>"><%= article_date %></span>
                <% if article_category %> &dash; <%= link_to article_category.titlecase, category_path(article_category), title: "View other posts in: #{article_category.titlecase} category" %><% end %>
                <% if article_tags.size > 0 %> &dash;<% article_tags.each do |tag| %> [ <%= link_to tag, tag_path(tag), title: "View other posts tagged with: #{tag}" %> ]<% end %>
                <% end %>
            </time>
            <div class="is-size-5-desktop mb-2 summary">
                <p><%= link_to strip_tags(article.summary).chomp, article, title: 'Click to read detail' %></p>
            </div>
        </li>
    <% end %>
    </ul>
</div>
