<%
just_categories = blog.articles.map{|a| a.metadata[:page][:category]}.uniq
total_post_count = page_articles.length * num_pages
%>
<section class="hero is-vb">
    <div class="hero-body">
        <div class="container">
            <h1 class="title"><%= need_title %></h1>
            <h2 class="subtitle">
                Found <strong><%= total_post_count %></strong> <%= pluralize(total_post_count, 'post', 'posts') %>.
                Displaying page <strong><%= page_number %></strong> of <%= num_pages %>
            </h2>
        </div>
    </div>
</section>

<section class="section has-white-background">
    <div class="container">
        <div class="columns">
            <div class="column is-8-desktop is-6-tablet">
                <% if locals[:enable_search] %>
                <div class="mb-2">
                    <form name="search">
                        <div class="field">
                            <div class="control"><input id="search_keyword" name="search_keyword" class="input" type="text" placeholder="Search in Blog"></div>
                            <p class="help">Type few letters, category name or tag name...</p>
                        </div>
                    </form>
                </div>
                <% end %>
                
                
                <div class="list-articles">
                    <ul>
                        <% need_articles.each do |article| %>
                        <%
                        article_date = I18n.l article.date, :format => "%d %B %Y, %A %H:%M"
                        %>
                        <li>
                            <% link_to article, class: 'is-size-4-desktop' do %><%= article.title %><% end %>
                            <time pubdate datetime="<%= article.date.xmlschema %>" title="<%= article_date %>">
                                <%= article_date %>
                            </time>
                            <div class="is-size-5-desktop"><%= article.summary %></div>
                            <% if article.tags %>
                                <div class="tags mt-1 mb-2">
                                    <% article.tags.each do |tag| %>
                                    <span class="tag is-info"><a title="Posts with &ldquo;<%= tag %>&rdquo; tag" target="_blank" href="<%= tag_path(tag) %>"><%= tag %></a></span>
                                    <% end %>
                                    
                                </div>
                            <% end %>
                        </li>
                        <% end %>
                    </ul>
                </div>
            </div>
            <div class="column is-3-tablet is-2-desktop is-offset-2-desktop is-offset-3-tablet">
                <div class="content">
                    <h4 class="is-size-5-desktop is-size-6-tablet">By Category</h4>
                </div>
                <ul>
                    <% just_categories.each do |category| %>
                    <li><a href="<%= category_path(category) %>"><%= category %></a></li>
                    <% end %>
                </ul>
                <hr/>
                <div class="content">
                    <h4 class="is-size-5-desktop is-size-6-tablet">By Tag</h4>
                </div>
                <ul>
                    <% blog.tags.each do |tag, articles| %>
                    <li><a href="<%= tag_path(tag) %>"><%= tag %></a></li>
                    <% end %>
                </ul>
                <hr/>
                
                <div class="content">
                    <h4 class="is-size-5-desktop is-size-6-tablet">By Year</h4>
                </div>
                <ul>
                    <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
                    <li><%= link_to "#{year} has #{articles.size} #{pluralize(articles.size, 'post', 'posts')}", blog_year_path(year) %></li>
                    <% end %>
                </ul>
                
            </div>
        </div>
    </div>
</section>


<% if locals[:enable_search] %>
<% content_for :extra_css do %>
    <link href="/public/vendor/easy-autocomplete-1.3.5/css/easy-autocomplete.css" rel="stylesheet" />
<% end %>
<% content_for :extra_js do %>
    <script src="/public/vendor/easy-autocomplete-1.3.5/js/jquery.min.js"></script>
    <script defer src="/public/vendor/easy-autocomplete-1.3.5/js/jquery.easy-autocomplete.js"></script>
    <script>
    $(document).ready(function(){
        var search_options = {
            url: "/search.json",
            placeholder: 'Search in Blog',
            getValue: "title",
            list: {
                maxNumberOfElements: 10,
                match: { enabled: true },
                onChooseEvent: function(){
                    var selected = $("#search_keyword").getSelectedItemData().url;
                    window.location.href = selected;
                },
            }
        };

        $("#search_keyword").easyAutocomplete(search_options);
    });
    </script>
<% end %>
<% end %>
