---
title: Yazılım, Eğitim ve Danışmanlık
layout: layout-tr
---

<section class="section cover has-background-color-vb-lighter">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column">
                <div class="content">
                    <h1>
                        <span>Yazılım geliştirme <strong>eğitimleri</strong> şirketiyiz!</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section main has-white-background">
    <div class="container">
        <div class="columns is-multiline is-variable is-8">
            <div class="column is-6-desktop is-full-tablet">
                <div class="content">
                    <h1 class="title"><strong>vb YAZILIM</strong>&rsquo;dan merhaba!</h1>

                    <p class="is-size-4">
                        Yazılım geliştiricileri için <strong>eğitim</strong> ve <strong>danışmanlık</strong> hizmetleri vermekteyiz.
                        Eğitim konularımız; programlamaya yeni başlayan geliştiricilerden, konusunda uzman
                        kişi/ekiplere kadar farklı seviyeleri kapsamaktadır.
                    </p>
                    <p class="is-size-5">
                        <strong>Python</strong>, <strong>Ruby</strong>,
                        <strong>Golang</strong>, <strong>Bash</strong> gibi programlama dilleri,
                        <strong>Django</strong>, <strong>Django REST Framework</strong> gibi popüler
                        web geliştirme kütüphanelerinin yanı sıra, <strong>Flask</strong>, <strong>Fast API</strong>,
                        <strong>Sinatra</strong>, <strong>Ruby on Rails</strong> gibi, özellikle API servis mimarisinde
                        çok kullanılan <strong>Fiber</strong>, <strong>Echo</strong>, <strong>go-kit</strong>
                        ve benzeri pek çok 3. parti kütüphanelerinin uygulamalı kullanım eğitimlerini de
                        vermekteyiz.
                    </p>
                    <p>
                        Uygulamaların bulut ortamında ya da yerel geliştirme ortamında çalışması için
                        <strong>Docker</strong>, <strong>Kubernetes</strong> gibi devOps/gitOps
                        eğitimleri, <strong>Linux</strong> komut satırı programlama ve versiyon kontrol sistemleri ile
                        ilgili müfredatlarımız da bulunmaktadır.
                    </p>
                    <p>
                        Daha fazla bilgi almak için <a class="is-external-link" href="/tr/egitimler/">eğitimler</a>
                        sayfamızı ziyaret edebilirsiniz.
                    </p>
                </div>
            </div>
            <div class="column is-6-desktop is-full-tablet">
                <div class="content">
                    <h1 class="title">Öne Çıkan Eğitimlerimiz</h1>

                    <table class="table top-courses">
                        <tbody>
                            <tr>
                                <td><a href="/tr/egitimler/#git-101-egitimi">Git 101</a></td>
                                <td class="has-text-right"><%= image_tag "icons/git.svg", class: "svg-icon", alt: "Git 101" %></td>
                            </tr>
                            <tr>
                                <td><a href="/tr/egitimler/#python-101-egitimi">Python 101</a></td>
                                <td class="has-text-right"><%= image_tag "icons/python.svg", class: "svg-icon", alt: "Python 101" %></td>
                            </tr>
                            <tr>
                                <td><a href="/tr/egitimler/#ileri-seviye-django-egitimi">İleri Seviye Django</a></td>
                                <td class="has-text-right"><%= image_tag "icons/django.svg", class: "svg-icon", alt: "İleri Seviye Django" %></td>
                            </tr>
                            <tr>
                                <td><a href="/tr/egitimler/#django-pratikleri-egitimi">Django Pratikleri</a></td>
                                <td class="has-text-right"><%= image_tag "icons/django.svg", class: "svg-icon", alt: "İleri Seviye Django" %></td>
                            </tr>
                            <tr>
                                <td><a href="/tr/egitimler/#golang-102-egitimi">Golang 102</a></td>
                                <td class="has-text-right"><%= image_tag "icons/golang.svg", class: "svg-icon", alt: "Golang 102" %></td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <h1 class="title">Pek Yakında</h1>
                    <table class="table top-courses">
                        <tbody>
                            <tr>
                                <td>ECMA Script</td>
                                <td class="has-text-right"><%= image_tag "icons/javascript.svg", class: "svg-icon", alt: "ECMA Script" %></td>
                            </tr>
                            <tr>
                                <td>VueJS 3 - 101</td>
                                <td class="has-text-right"><%= image_tag "icons/javascript.svg", class: "svg-icon", alt: "VueJS 3" %></td>
                            </tr>
                            <tr>
                                <td>VueJS 3 - REST API İstemcisi</td>
                                <td class="has-text-right"><%= image_tag "icons/javascript.svg", class: "svg-icon", alt: "VueJS 3 - REST API İstemcisi" %></td>
                            </tr>
                            <tr>
                                <td>ReactJS - 101</td>
                                <td class="has-text-right"><%= image_tag "icons/javascript.svg", class: "svg-icon", alt: "ReactJS - 101" %></td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>
</section>
